<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title at MY-PLYGRND</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="google-signin-client_id" content="191127459365-omocg48tjhohkmq5es1nvq8vogk6t141.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MY-PLYGRND", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="login-nav">@Html.ActionLink("Login", "Index", "Login")</li>
                    <li id="logout-nav">@Html.ActionLink("Sign Out", "Index", "Login", new { }, new { onclick = "signOut()" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sidenav" class="sidenav">
        <div id="sidenav-control">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("About", "About", "Home")
            @Html.ActionLink("Contact", "Contact", "Home")
        </div>
        <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    </div>
    <div id="main" class="container body-content">
        <!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open</span>-->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year akhmal.adi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function openNav() {
            document.getElementById("sidenav").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
        }

        function closeNav() {
            document.getElementById("sidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "85px";
        }

        function isLoggedIn() {
            if (localStorage.getItem("isLogin") == "true") {
                $("#login-nav").css("display", "none");
                $("#logout-nav").css("display", "block");

                $("#sidenav-control").css("display", "block");
            }
            else {
                $("#login-nav").css("display", "block");
                $("#logout-nav").css("display", "none");

                $("#sidenav-control").css("display", "none");
            }
        }

        function signOut() {
            localStorage.setItem("isLogin", "false");

            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

        window.onload = isLoggedIn();
    </script>
    <div class="g-signin2" data-onsuccess="" hidden="hidden"></div>
</body>
</html>
